@import '../../../assets/styles/media.scss';

.lesson_container {
	&::before {
		content: '';
		display: block;
		height: 58px;
		@include for-tablet-portrait-up() {
			height: 94px;
		}
	}

	.lesson_content_wrapper {
		margin-right: 404px;

		.lesson_content {
			@include for-tablet-portrait-up() {
				background: #fff;
				margin: 0 24px 30px;
				padding: 0 0 48px;
			}
			.skill_tree_container {
				align-items: center;
				display: flex;
				flex-direction: column;
				margin-top: 24px;
				padding-bottom: 324px;
				position: relative;
				@include for-tablet-portrait-up() {
					padding-bottom: 0;
					margin-top: 0;
				}

				.skill_tree_wrapper {
					@include for-tablet-portrait-up() {
						padding: 0;
					}
					max-width: 440px;
					padding: 0 16px;
					width: 100%;
					margin-bottom: 16px;

					&.disabled {
						background-color: rgba(240, 240, 240, 1);
						border: 2px solid #e5e5e5;
						border-radius: 16px;

						.skill_wrapper {
							&:not(.checkpoint) {
								.skill_inner {
									cursor: auto;
									.skill_icon_wrapper {
										.skill_icon_inner {
											.skill_icon {
												.icon {
													background-color: #e5e5e5;

													&::after {
														content: '';
														position: absolute;
														top: 0;
														left: 0;
														background-color: rgba(229, 229, 229, 0.8);
														height: 100%;
														width: 100%;
													}
												}
											}
										}
									}
								}
							}
						}
					}

					.skill_tree {
						align-items: stretch;
						display: flex;
						position: relative;
						flex-direction: column;

						.skill_grid_container {
							display: grid;
							grid-auto-columns: calc(33.33333% - 8px);
							grid-auto-flow: column;
							grid-column-gap: 12px;
							justify-content: center;
							padding: 16px 12px;
						}
					}
				}
			}
		}
	}

	.right_side_content {
		.medal_container {
			padding-bottom: 0 !important;
			@include for-tablet-portrait-up() {
				background: #fff;
				border: 2px solid #e5e5e5;
				border-radius: 16px;
				display: block;
				margin: 0 24px 24px;
				padding: 24px;
			}
			.medal_top {
				display: flex;
				justify-content: space-between;
				margin-bottom: 24px;
				.medal_title {
					display: flex;
				}

				.medal_schedule {
					display: flex;
					align-items: center;
					height: 26px;
					margin-left: 10px;
					white-space: nowrap;
					span {
						color: #ffc800;
						flex-shrink: 0;
						font-size: 15px;
						font-weight: 700;
						letter-spacing: 0.8px;
						text-transform: uppercase;
					}
				}
			}

			.medal_list {
				display: flex;
				justify-content: space-between;
				margin-bottom: 24px;
			}

			.leader_board {
				align-items: center;
				display: flex;
				flex-direction: column;
				height: 242px;
				justify-content: center;
				padding: 24px 0;
				text-align: center;
			}

			hr {
				margin: 0 -24px;
			}
		}

		.invite_user_login {
			@include for-tablet-portrait-up() {
				background: #fff;
				border: 2px solid #e5e5e5;
				border-radius: 16px;
				display: block;
				margin: 0 24px 24px;
				padding: 24px;
			}
		}

		@include for-tablet-portrait-up() {
			float: right;
			width: 428px;
		}
	}

	.skill_wrapper {
		margin: 0 auto;
		width: 100%;
		display: inline-block;
		max-width: 96px;
		position: relative;
		@include for-tablet-portrait-up() {
			max-width: 106px;
		}

		&.checkpoint {
			.skill_icon {
				.icon {
					background-color: #ce82ff !important;
				}
			}
		}
		.skill_inner {
			cursor: pointer;
			.skill_content {
				align-items: center;
				color: #3c3c3c;
				display: flex;
				flex-direction: column;
				text-align: center;
				vertical-align: top;

				.skill_icon_wrapper {
					width: 100%;

					.skill_icon_inner {
						padding-top: 100%;
						position: relative;
						.skill_icon_content {
							display: flex;
							left: 50%;
							position: absolute;
							top: 50%;
							transform: translate(-50%, -50%);

							.skill_icon_border {
								color: #999;
								display: inline-block;
								font-size: 15px;
								position: relative;
								text-align: center;
								height: 106px;
								width: 106px;
							}

							.skill_icon {
								border-radius: 50%;
								height: 68%;
								left: 50%;
								position: absolute;
								top: 50%;
								transform: translate(-50%, -50%);
								width: 68%;

								.icon {
									background-color: #ce82ff;
									backface-visibility: hidden;
									border-radius: 50%;
									overflow: hidden;
									transform: translateZ(0);
									left: 0;
									position: absolute;
									top: 0;
									width: 100%;
									height: 100%;
									display: flex;
									justify-content: center;
									align-items: center;

									&.learnt {
										background-color: #1cb0f6;
									}

									img {
										max-width: 80%;
									}
								}
							}
						}
					}
				}

				.skill_title {
					font-weight: 700;
					margin-top: 8px;
					color: #777;
					font-size: 17px;
				}
			}
		}
	}
}

.paddingTop {
	padding-top: 48px !important;
}
