@import '../../../assets/styles/media.scss';

.profile_container {
	padding-top: 94px;

	.right_side_bar {
		@include for-tablet-portrait-up() {
			float: right;
			width: 428px;
		}

		.side_bar_inner {
			@include for-tablet-portrait-up() {
				background: #fff;
				border: 2px solid #e5e5e5;
				border-radius: 16px;
				margin: 0 24px 24px;
				padding: 24px;
			}

			.profile_header {
				display: flex;
				margin-bottom: 25px;
			}
			ul.profile_navigation {
				@include for-tablet-portrait-up() {
					display: block;
				}
				display: none;
				li {
					&.active {
						background: #dadada;
					}
					border-radius: 16px;
					margin-bottom: 2px;
					a,
					span {
						color: #3c3c3c;
						display: block;
						font-size: 16px;
						font-weight: 700;
						overflow: hidden;
						padding: 15px 20px;
						text-overflow: ellipsis;
						white-space: nowrap;
						text-decoration: none;
					}
				}
			}
		}
	}

	.profile_content {
		@include for-tablet-portrait-up() {
			margin-right: 404px;
		}

		.profile_information {
			@include for-tablet-portrait-up() {
				background: #fff;
				margin: 0 24px 30px;
				padding: 0 0 24px;
			}

			.ant-spin-blur {
				clear: none !important;
			}

			.profile_title {
				display: flex;
				justify-content: space-between;
				h1 {
					@include for-tablet-portrait-up() {
						font-size: 27px;
						margin-bottom: 70px;
					}
				}
			}

			.profile_field {
				background: #fff;
				margin: 0 -15px;
				position: relative;
				table-layout: fixed;
				width: calc(100% + 30px);
				@include for-tablet-portrait-up() {
					background: initial;
					margin: 0;
					position: static;
					width: 100%;
				}

				.profile_label {
					font-size: 15px;
					padding: 24px 24px 0 0;
					vertical-align: top;
					text-align: right;
					label {
						@include for-tablet-portrait-up() {
							font-size: 15px;
						}
						color: #4b4b4b;
						font-size: 14px;
						font-weight: 700;
						text-align: right;
						vertical-align: middle;
						word-break: break-word;
					}
					&:first-child {
						@include for-tablet-portrait-up() {
							width: 180px;
						}
						width: 120;
					}
				}

				.profile_input {
					line-height: 22px;
					padding: 12px 16px;
					text-align: left;
					@include for-tablet-portrait-up() {
						// padding-bottom: 20px;
						border-bottom: none;
					}
					position: relative;
					color: #999;
					input {
						width: 100%;
						max-width: 100%;
						min-height: 48px;
						vertical-align: middle;
						background: #f7f7f7;
						border: 2px solid #e5e5e5;
						border-radius: 16px;
						color: #4b4b4b;
						text-align: left;
						padding: 5px 10px;
						line-height: 24px;
					}

					.ant-picker {
						border: none;
						background-color: none;
						padding: 0;
					}
					.ant-input-password {
						border: none;
						padding: 0;
					}
				}
			}
		}
	}
}
