@import '../../../assets/styles/media.scss';

.vocabulary_wrapper {
	@include for-tablet-portrait-up() {
		padding-top: 80px;
	}
	align-items: center;
	display: flex;
	justify-content: center;
	left: 0;
	min-height: 100vh;
	position: absolute;
	right: 0;
	top: 0;

	.vocabulary_inner {
		color: #fff;
		display: flex;
		flex-grow: 1;
		justify-content: center;
		max-width: 100%;
		text-align: center;
		z-index: 1;
		@include for-tablet-portrait-up() {
			margin-bottom: 200px;
		}

		.vocabulary_package_list {
			flex-grow: 1;
			max-width: 800px;
			padding: 0 10px;
			width: 100%;
			h1 {
				@include for-tablet-portrait-up() {
					font-size: 32px;
					line-height: 40px;
					margin: 0 24px 24px;
				}
				@include for-phone-only() {
					font-size: 26px;
					line-height: 40px;
					margin: 0 24px 15px;
				}
				color: #4b4b4b;
				font-size: 20px;
				line-height: 1.2;
				margin: 0 24px 5px;
			}

			ul {
				display: grid;
				grid-auto-rows: 1fr;
				grid-gap: 16px;
				grid-template-columns: repeat(4, 1fr);

				label.vocabulary_package {
					position: relative;
					display: flex;
					justify-content: center;
					padding: 8px 12px;
					border-radius: 16px;

					@include for-tablet-landscape-up() {
						padding: 18px 16px;
					}
					@include for-tablet-portrait-up() {
						flex-direction: column;
						justify-content: center;
						padding: 24px;
					}
					@include for-phone-only() {
						padding: 10px 12px;
					}

					&.selected {
						&::after {
							background-color: #ddf4ff;
							border-color: #1cb0f6;
						}
					}

					&:hover {
						background-color: #f7f7f7;
						border-width: 4px 2px 2px !important;
						cursor: pointer;
						&::after {
							border-bottom-width: 2px;
							bottom: -2px !important;
						}
					}

					&::after {
						bottom: -4px;
						content: '';
						left: -2px;
						right: -2px;
						top: -2px;
						background-color: #fff;
						border-color: #e5e5e5;
						border-width: 2px 2px 4px;
						border-radius: 16px;
						background-clip: padding-box;
						border-style: solid;
						position: absolute;
						z-index: -1;
					}

					img {
						height: 30px;
						margin-right: 12px;
						width: 40px;
						@include for-tablet-portrait-up() {
							display: block;
							height: 80px;
							margin: 0 auto 10px;
							width: 80%;
						}
						@include for-tablet-portrait-up() {
							margin-right: 16px;
						}
					}

					.title {
						color: #4b4b4b;
					}
				}
			}
			.vocabulary_child_package {
				width: 100%;
				display: flex;
				color: #4b4b4b;
				margin-bottom: 16px;
				.child_package_content {
					display: flex;
					align-items: baseline;
					flex-grow: 1;
					.title {
						font-size: 26px;
						font-weight: 700;
						margin-right: 2rem;
					}
				}
				.child_package_action {
					display: flex;
				}
			}
		}
	}
}

.vocabulary {
	@include for-tablet-portrait-up() {
		display: grid;
		grid-template-columns: 1fr 400px;
		grid-column-gap: 1rem;
	}
	display: flex;
	flex-direction: column;
	.vocabulary_desc {
		text-align: left;
		.title {
			font-weight: 700;
			margin-right: 0.5rem;
		}
	}
}

.flip-card {
	background-color: transparent;
	width: 220px;
	height: 300px;
	// border: 1px solid #f1f1f1;
	border: 1px solid #e5e5e5;
	border-radius: 16px;
	perspective: 1000px; /* Remove this if you don't want the 3D effect */

	&:hover {
		/* Do an horizontal flip when you move the mouse over the flip box container */
		.flip-card-inner {
			transform: rotateY(180deg);
		}
	}

	/* This container is needed to position the front and back side */
	.flip-card-inner {
		position: relative;
		width: 100%;
		height: 100%;
		text-align: center;
		transition: transform 0.8s;
		transform-style: preserve-3d;

		/* Position the front and back side */
		.flip-card-front,
		.flip-card-back {
			position: absolute;
			width: 100%;
			height: 100%;
			-webkit-backface-visibility: hidden; /* Safari */
			backface-visibility: hidden;
			border-radius: 16px;
			display: flex;
			justify-content: center;
			flex-direction: column;
		}

		/* Style the front side (fallback if image is missing) */
		.flip-card-front {
			background-color: #fff;
			color: black;
			.example_image {
				height: 100px;
				margin-bottom: 2rem;
				img {
					height: 100%;
				}
			}
		}

		/* Style the back side */
		.flip-card-back {
			background-color: dodgerblue;
			color: white;
			transform: rotateY(180deg);
			p {
				font-size: 18px;
				font-weight: 700;
			}
		}
	}
}
