@import '../../../../assets/styles/media.scss';

.challenge_listening {
	display: grid;
	text-align: initial;
	grid-template-rows: -webkit-min-content 1fr;
	grid-template-rows: min-content 1fr;
	grid-gap: 16px;
	@include for-tablet-portrait-up() {
		align-items: center;
		grid-template-columns: -webkit-min-content 1fr;
		grid-template-columns: min-content 1fr;
		grid-template-rows: none;
		grid-gap: 24px;
	}

	.audio_icon {
		margin: 0 auto;
		cursor: pointer;
		span {
			width: 100px;
			height: 100px;
			display: inline-block;
			img {
				width: 100%;
				height: 100%;
				transform: translate3d(0px, 0px, 0px);
			}
		}
	}

	.answer_option_container {
		display: grid;
		grid-gap: 8px;
		grid-template-columns: repeat(2, 1fr);
		@include for-tablet-portrait-up() {
			align-self: center;
		}
		label.option {
			display: inline-flex;
			font-size: 19px;
			line-height: 1.4;
			position: relative;
			background: none;
			color: #4b4b4b;
			border-width: 2px 2px 4px;
			padding: 12px 16px;
			border-radius: 16px;
			border-style: solid;
			transform: translateZ(0);
			transition: filter 0.2s;

			&.selected {
				border-color: #1899d6;
				background-color: #ddf4ff;
				border-width: 2px;

				.no {
					color: #1899d6;
					border-color: #1899d6;
				}
			}

			&:hover {
				border-width: 2px;
			}

			.no {
				align-items: center;
				border: 2px solid #e5e5e5;
				border-radius: 8px;
				color: #afafaf;
				display: none;
				font-size: 15px;
				font-weight: 700;
				height: 30px;
				justify-content: center;
				width: 30px;
				flex-shrink: 0;
				@include for-tablet-portrait-up() {
					display: inline-flex;
				}
			}
			.challenge_judge_text {
				align-items: center;
				display: inline-flex;
				flex: 1 1 auto;
				justify-content: center;
				overflow: hidden;
				text-align: center;
				text-overflow: ellipsis;
				white-space: normal;
				font-size: 9vw;
				font-weight: 700;
				@include for-tablet-portrait-up() {
					font-size: inherit;
					font-weight: inherit;
				}
			}
		}
	}
}
