.avatar {
	padding: 0 12px;
	align-items: center;
	display: flex;

	img {
		border-radius: 50%;
		width: 100%;
		height: 100%;
		max-width: 50px;
		height: 50px;
	}

	&:hover {
		cursor: default;
		opacity: 0.8;
		transition: opacity 0.2s;
	}
}
